<div class="container-fluid">
    <div class="row justify-content-center centered">
        <div class="col-sm-8 col-md-9 col-lg-4">
            <form action="">
                <label for="">Create Username</label>
                <input [(ngModel)]="intern.username" type="text" class="form-control">

                <label for="">Your Email</label>
                <input [(ngModel)]="intern.email" type="text" class="form-control">

                <label for="">Your Name</label>
                <input [(ngModel)]="intern.name" type="text" class="form-control">

                <label for="">Your Surname</label>
                <input [(ngModel)]="intern.surname" type="text" class="form-control">

                <label for="">Create Password</label>
                <input [(ngModel)]="intern.password" type="password" class="form-control">

                <label for="">Confirm Password</label>
                <input type="password" class="form-control">
                
            </form>
            
            <div class="row txt-center redirect-text">
                
                <div class="row txt-center">
                    <button (click)="registerIntern()" class="btn btn-primary my-2">Sign Up</button>
                    <a href="/signin">Already have an account? 
                        Click here to login.</a>
                </div>
            </div>
        </div>
    </div>
</div>
