<div class="container-fluid">
    <div class="row justify-content-center centered">
        <div class="col-lg-4">
            <form action="">
                <label for="">Create Username</label>
                <input type="text" class="form-control">

                <label for="">Your Email</label>
                <input type="text" class="form-control">

                <label for="">Create Password</label>
                <input type="password" class="form-control">

                <label for="">Confirm Password</label>
                <input type="password" class="form-control">
                
            </form>
            <button class="btn btn-primary my-2">Sign Up</button>
            <div class="row txt-center redirect-text">
                <div class="row txt-center">
                    <a href="/signin">Already have an account? 
                        Click here to login.</a>
                </div>
            </div>
        </div>
    </div>
</div>
