
<div class="container">
  <app-navbar></app-navbar>
    <div class="row">

      <div class="card card-user" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1599009434802-ca1dd09895e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Card image cap">
        
        <div class="card-body card-details">
          <h5 class="card-title" style="color:black">Name Surname</h5>
          <p class="card-text">Gender:</p>
          <p class="card-text">Branch:</p>
          <p class="card-text">SE/DA:</p>
          <a class="btn btn-primary" [routerLink]="['/user']"  >View User</a>
        </div>
    </div>

        <div class="card card-user" style="width: 18rem;">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1599009434802-ca1dd09895e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Card image cap">
            
            <div class="card-body card-details">
              <h5 class="card-title" style="color:black">Name Surname</h5>
              <p class="card-text">Gender:</p>
              <p class="card-text">Branch:</p>
              <p class="card-text">SE/DA:</p>
              <a class="btn btn-primary" [routerLink]="['/user']"  >View User</a>
            </div>
        </div>

        <div class="card card-user" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1599009434802-ca1dd09895e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Card image cap">
          
          <div class="card-body card-details">
            <h5 class="card-title" style="color:black">Name Surname</h5>
            <p class="card-text">Gender:</p>
            <p class="card-text">Branch:</p>
            <p class="card-text">SE/DA:</p>
            <a class="btn btn-primary" [routerLink]="['/user']"  >View User</a>
          </div>
      </div>

      <div class="card card-user" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1599009434802-ca1dd09895e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Card image cap">
        
        <div class="card-body card-details">
          <h5 class="card-title" style="color:black">Name Surname</h5>
          <p class="card-text">Gender:</p>
          <p class="card-text">Branch:</p>
          <p class="card-text">SE/DA:</p>
          <a class="btn btn-primary" [routerLink]="['/user']"  >View User</a>
        </div>
    </div>

    </div>
</div>