<app-navbar></app-navbar>
<!--If user role is admin - display-->

    <div class="row">
        <div class="col-md-12 col-sm-3">
            <div class="jumbotron">
                <h1>Hello! {{ user_name }}</h1>
                <p>
                    this is an Interns management system. The objective of the programme is monitor
                    intern users. Create and allocate work tasks to interns.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">

            <div *ngIf="internDisplay" class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
                <div class="alert alert-info back-widget-set text-center"
                routerLink="/user-details">
                        <i class="fa fa-user fa-5x"></i>
                        <h3>See Cohort</h3>
                        View other interns in your cohort
                </div>
            </div>

            <div *ngIf="mentorDisplay" class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
                <div class="alert alert-info back-widget-set text-center"
                routerLink="/user-details">
                        <i class="fa fa-user fa-5x"></i>
                        <h3>Manage Interns</h3>
                        Edit, Delete, Deactivate Interns
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
                <div class="alert alert-success back-widget-set text-center"
                routerLink="/tasks">
                    <i class="fa fa-bars fa-5x"></i>
                    <h3>View Tasks</h3>
                    View all work issued to interns
                </div>
            </div>

            <div *ngIf="mentorDisplay" class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
                <div class="alert alert-warning back-widget-set text-center"
                routerLink="/create-task">
                    <i class="fa fa-plus-circle fa-5x"></i>

                    <h3>Create New Task</h3>
                Allocate new task to interns
                </div>
            </div>

            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
                <div class="alert alert-success back-widget-set text-center"
                routerLink="/completed">
                    <i class="fa fa-list-ol fa-5x"></i>
                    <h3>Completed Tasks </h3>
                    Over tasks, Submissions
                </div>
            </div>

        </div>   
    </div>

    <div class="row" style="margin-top: 10px;">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="container bootstrap snippets bootdey">
                <div class="row">
                    <h2 class="text-muted" style="margin-left: 20px;">Deliverables</h2>
                    <hr>
                </div>
                
                <div class="row" style="margin-bottom: 20px;">
                    <!-- view allocated tasks [admin], due submissions[intern] etc -->
                    <div class="col-md-12 col-lg-12 col-sm-4">
                        <!-- One Item -->
                        <div class="panel blog-container" *ngFor="let task of tasksList">

                            <ng-container>

                                <div class="panel-body">
                                    
                                    <h2><a (click)="viewTask(task.id)">{{ task.name }}</a></h2>
                                    <h4><a><strong>
                                        {{ task.fieldTraining }}</strong></a> |  Due date : {{ task.dueDate | date }}</h4>
                                    
                                    <p class="m-top-sm m-bottom-sm" style="font-size: 14px;">
                                    {{ task.description }}
                                    </p>
                                    
                                </div>

                            </ng-container>
                            
                        </div>           
                    </div>
                </div>

        </div>
    </div>


<!--If user role is mentor - display-->

<!---If user role is intern - display-->

<app-footer></app-footer>