<div class="container-fluid">
    <div class="row justify-content-center centered">
        <div class="col-sm-8 col-md-9 col-lg-4">

            <form [formGroup]="signupform" (ngSubmit)="registerIntern()">
                <label for="">Your Email</label>
                <app-input [control]="signupform.controls.email" ></app-input>

                <label for="">Your Name</label>
                <app-input [control]="signupform.controls.name" ></app-input>

                <label for="">Your Surname</label>
                <app-input [control]="signupform.controls.surname" ></app-input>

                <div class="form-group">
                    <label>Skills Programme</label>
                    <select formControlName="trainingField" class="form-control" >
                        <option>Data Analytics</option>
                        <option>Full Stack Software Developer</option>
                        <option>Software Tester</option>
                    </select>
                </div>

                <label for="">Create Password</label>
                <app-input [control]="signupform.controls.password" ></app-input>

                <label for="">Confirm Password</label>
                <app-input [control]="signupform.controls.confirmPassword" ></app-input>

                <div class="row txt-center">
                    <button
                    type="submit"
                     class="btn btn-primary my-2" 
                    style="width: 100px; margin: auto;">Sign Up</button>
                </div>
            </form>
            
            <!--For previewing inputs onto my form.-->
            <pre>
                {{signupform.valid}}
                {{signupform.value | json}}
            </pre>
            
            <div class="row txt-center redirect-text">
                <div class="row txt-center">
                    <a routerLink="/signin">Already have an account? 
                        Click here to login.</a>
                </div>
            </div>

        </div>
    </div>
</div>
