<div class="container-fluid">
    <div class="row justify-content-center centered">
        <div class="col-sm-8 col-md-9 col-lg-4">

            <form [formGroup]="signupform" (ngSubmit)="registerIntern()">
                <label for="">Your Email</label>
                <!-- <app-input [form]="signupform.get('email')" ></app-input> -->
                <input type="email" formControlName="email" class="form-control">

                <label for="">Your Name</label>
                <input type="text" formControlName="name" class="form-control">

                <label for="">Your Surname</label>
                <input type="text" formControlName="surname" class="form-control">

                <div class="form-group">
                    <label>Skills Programme</label>
                    <select formControlName="trainingField" class="form-control" >
                        <option>Data Analytics</option>
                        <option>Full Stack Software Developer</option>
                        <option>Software Tester</option>
                    </select>
                </div>

                <label for="">Create Password</label>
                <input type="password" formControlName="password" class="form-control">

                <label for="">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword">

                <div class="row txt-center">
                    <button
                    type="submit"
                     class="btn btn-primary my-2" 
                    style="width: 100px; margin: auto;">Sign Up</button>
                </div>
            </form>
            
            <!--For previewing inputs onto my form.-->
            <pre>
                {{signupform.valid}}
                {{signupform.value | json}}
            </pre>
            
            <div class="row txt-center redirect-text">
                <div class="row txt-center">
                    <a routerLink="/signin">Already have an account? 
                        Click here to login.</a>
                </div>
            </div>

        </div>
    </div>
</div>
