<nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0"
 style="background-color: rgba(25, 25, 240, 0.726); font-size: 12px;">
    <div class="container">

      <div class="left-div">
        <a class="left-div" href="#"
          routerLink="/home" 
          style="font-size: 14px; color: black; font-weight: bolder;">UMS
        </a>
      </div>
      

      <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="d-flex justify-content-start align-items-center">
          <i class="fas fa-bars"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <!-- <li class="nav-item">
            <a class="nav-link px-3" href="#!">about ums</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link px-3" href="#!">Training</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="#!">contact us</a>
          </li> -->

        </ul>
  
        <ul class="navbar-nav flex-row">
          
          <div class="right-div">
            <!--Display one of the two buttons depending on User status (Logged In or Out) -->
            <a routerLink="/signin" class="btn btn-success pull-right"
             style="width: 60px; height: 30px; font-size: 14px;">Login</a>

             <a routerLink="/signin" class="btn btn-warning pull-right"
             style="width: 60px; height: 30px; font-size: 11px; font-weight: bolder;">Logout</a>
            
          </div>
        </ul>
      </div>
    </div>
  </nav>