<div class="login-container">
    <div class="logo">MovieSiteLogo</div>
    <div class="desc">
        Site description comes here. etc story continues...
    </div>
    <div class="login-form">
        <div class="form-group">
            <label for="uname_">Username</label>
            <input type="text" for="uname" class="form-control">
        </div>
        <div class="form-group">
            <label for="puname_">Password</label>
            <input type="text" for="puname" class="form-control">
        </div>
        <div class="btn-contianer">
            <div class="error">
                <button class="btn btn-dark">Login</button>
            </div>
        </div>
    </div>
</div>
