
 <body>
     <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">

            <div class="row pad-botm">
                <div class="col-md-12" style="padding-bottom: 40px;">
                    <app-navbar></app-navbar>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-8 col-xs-12">
                    <div id="carousel-example" class="carousel slide slide-bdr" data-ride="carousel" >

                    <div class="carousel-inner" style="height: 450px; width: 900px;">
                        <div class="item active">
                            <img src="https://images.unsplash.com/photo-1584291527908-033f4d6542c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1025&q=80"
                             alt=""
                              />

                        </div>
                        <div class="item">
                            <img src="https://images.unsplash.com/photo-1607799279861-4dd421887fb3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" />

                        </div>
                        <div class="item">
                            <img src="https://images.unsplash.com/photo-1509475826633-fed577a2c71b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="" />

                        </div>
                    </div>
                    <!--INDICATORS-->
                     <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>

                    <!--PREVIUS-NEXT BUTTONS-->
                    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>

                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-3">
            <div class="jumbotron">

                <h1>
                    A simple, dynamic user manager system. Create an account, enrol for a training field of your choice,
                    and complete tasks.
                </h1>
               
            </div>
        </div>
    </div>

    <app-footer></app-footer>

 </body>
